.card {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px #2bad9cef;
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #2bad9cef;
}

h3 {
    margin: 10px 0;
    font-size: 18px;
}

p {
    font-size: 14px;
    color: #666;
}
.container-About {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
