.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;

}

.text-content {
    max-width: 100%;
}

.text-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.text-content span {
    color: #2bad9cef;
}

.text-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

