.icons a:hover {
    color: teal;
}

h1 {
    color: black;
}

header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2bad9cef;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    background-image: url('./image/bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
