nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #2bad9cef;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icons a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    transition: color 0.3s;
}
