* {
margin: 0;
padding: 0;
    box - sizing: border - box;
}

body {
    font-family: Arial, sans-serif;
color: #333;
}

header {
    display: flex;
align - items: center;
justify - content: space - between;
padding: 10px 20px;
background - color: rgba(255, 255, 255, 0.9);
box - shadow: 0 4px 10px #2bad9cef;
    height: 80px;
position: sticky;
top: 0;
z - index: 10;
}
.logo img
{
    width: 100px;
    height: auto;
    margin-left: 100px;
}
nav ul
{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
font - weight: bold;
color: #333;
    font - size: 16px;
transition: color 0.3s;
}

nav ul li a:hover {
    color: #2bad9cef;
}

.icons {
    display: flex;
align - items: center;
gap: 15px;
}
.icons a
{
  text-decoration: none;
    font-size: 20px;
    color: #333;
    transition: color 0.3s;
}
